body{
    background-color: #05091A;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.primary-text{
    font-family: "Arvo", serif;
    color: white;
}

.secondary-text{
    font-family: "Raleway", sans-serif;
    color: white;
}

.container-fluid{
    padding: 0;
}

#title-page{
    height: 60em;
    width: 100%;
    background-color: #0E1328;
    z-index: 1;
    position: relative;
    border-bottom: 3px solid lightgrey;
    box-shadow: 2em 0 2em 2em black;
}

#title {
    margin-top: 20%;
    font-size: 5em;
}

.navbar-inverse{
    box-shadow: 1px 0px 3px 3px lightgrey;
}

#about-page{
    height: 130em;
    width: 100%;
    background-color: #160E28;
    z-index: 1;
    position: relative;
    border-bottom: 2px solid lightgrey;
    border-top: 2px solid lightgrey;
    margin-top: 5em;
}

#about-page > div > .primary-text{
    color: white;
}

#portfolio-page{
    height: 40em;
    width: 100%;
    background-color: #0A1F25;
    z-index: 1;
    position: relative;
    border-bottom: 2px solid lightgrey;
    border-top: 2px solid lightgrey;
    margin-top: 14em;
    box-shadow: 2em 0 2em 2em black;

}

#portfolio-title{
    margin-bottom: 2em;
}

.pic-row > div > a > img{
    margin-bottom: 2em;
    filter: grayscale(90);
}

.pic-row > div > a> img:hover{
    filter: grayscale(0);
    animation-name: colorize;
    animation-duration: 1s;
}


.pic-row > div{
    display: inline-block;
}

#footer{
    width: 100%;
    height: 20em;
    color: #083B51;
}

#footer > .row{
    width: 100%;
    height: 100%;
}

#footer > .row > div {
    margin-left: 2em;
    margin-top: 2em;
}

#footer > .row > div > form{
    padding-left: 2em;
    border-left: 2px solid lightgrey;
    color: lightgrey;
}

#footer > .row > div > .primary-text, .secondary-text{
    color: lightgrey;
}

form > input {
    color: black;
}

@media (max-width: 991px) {
    #portfolio-page{
        height: 100em;
    }
    
    .form-container{
    max-width: 300px;
    }
    
    #about-page{
        height: 180em;
    }
}

@keyframes fade-out{
    0% {opacity: 0;}
    5% {opacity: 0;}
    100% {opacity: 100;}
}

@keyframes colorize{
    0%{filter: grayscale(90);}
    100%{filter: grayscale(0);}
}

#logo{
    height: 3em;
    opacity: 100;
    animation-name: fade-out;
    animation-duration: 4s;
}

#laurence-headshot, #chris-headshot{
    border-radius: 50%;
    max-height: 25em;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
}

.fade-in{
    opacity: 100;
    animation-name: fade-out;
    animation-duration: 4s;
}

#is-icon,#gd-icon, #rd-icon{
    max-height: 17em;
    display: block;
    margin: auto;    
}

#responsive-design-seg, #graphic-design-seg, #image-sourcing-seg{
    margin-top: 5em;
    background-color: #05091A;
    border-bottom: 4px solid black;
    border-top: 4px solid black;
}

#modal-container{
    z-index: 99;
}

.modal-image{
    margin: auto;
    display: block;
    width: 80%;
    max-width: 800px;
}